@tailwind base;
@tailwind components;
@tailwind utilities;

*,html  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;  
  width: 100%;
 
  transition: all 300ms ease-in-out;
 
  background-image: url("../public/bg.png");
  /* background-image: url("../public/body-bg.png"); */
  padding: 0;
  line-height: 26px;
  /* font-size: 15px; */
  font-size: 1rem;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 400;
  /* background-color: #f0f8ff; */
  /* background-color: #fff; */
  background-color: #cbedd5;
  color: #777777;
}

html {
  scroll-behavior: smooth!important;
}
